html {
  overflow-x: hidden;
}

/* * {
  border: 1px solid red;
} */

.nav .nav-item .active {
  background-color: rgb(255, 252, 222);
  border: 2px solid #ffc107;
}

.card .card-body .btn {
  background-color: rgb(255, 252, 222);
  border: 2px solid #ffc107;
}

.haracter-card .card {
  background-color: rgb(255, 222, 132);
}

.list-group .active {
  background-color: rgb(255, 252, 222);
  border: 2px solid #ffc107;
}

footer section {
  background-color: rgb(255, 252, 222);
  border: 2px solid #ffc107;
}

@media(max-width:575px) {
  .media {
    padding: 0 !important;
    margin-top: 10px;
  }

  .d-media-none {
    display: none;
  }

  .w-free-media {
    width: 80%;
    margin: 0 auto;
  }

  .w-free-media>img {
    width: 100%;
    height: auto;
  }
}