@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap";

@mixin button {
    background-color: rgb(255, 252, 222);
    border: 2px solid #ffc107;
}


.nav {
    .nav-item {
        .active {
            @include button;
        }
    }
}

.card {
    .card-body {
        .btn {
            @include button;
        }
    }
}

.haracter-card {
    .card {
        @include button;
    }
}

.list-group {
    .active {
        @include button;
    }
}

footer {
    section {
        @include button;
    }

}


.media {
    @media(max-width:575px) {
        padding: 0 !important;
        margin-top: 10px !important;
    }
}

.d-media-none {
    @media(max-width:575px) {
        display: none !important;
    }

}

.w-free-media {
    @media(max-width:575px) {
        width: 100% !important;
    }

}

.w-free-media {
    img {
        @media(max-width:575px) {
            width: 100% !important;
            height: auto !important;
        }

    }
}